$primary-gradient-start: #d94e47;
$primary-gradient-end: #df1165;

$secondary-gradient-start: #a8ff78;
$secondary-gradient-end: #78ffd6;

$tertiary-gradient-start: #FF0099;
$tertiary-gradient-end: #493240;

$quaternary-gradient-start: #f5af19;
$quaternary-gradient-end: #f12711;

$quinary-gradient-start: #ff00cc;
$quinary-gradient-end: #333399;

$text: #fff;
